
.slide-button {
    height: 100%;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    border: none;
    background-color: white;
}

.slider {
    width: calc(216px*4);
    overflow: hidden;
}

.right {
    margin-left: calc(-216px*4);
    transition-duration: 1s;
}

.left {
    margin-left: 0px;
    transition-duration: 1s;
}